
.home__container {
    display: flex;
    flex-direction: column;
}

.home__trends {
    padding-left: 3rem;

}

@media (min-width: 900px) {
    .home__container {
        display: flex;
        flex-direction: row;
    }
    .home__trends {
        width: 25%;
    }
    .home__Search{
        width: 75%;
    }
}