.fav__button{
    border-radius: 100px;
    border: 0;
    background-color: rgba(101, 19, 104, 0.596);
    cursor: pointer;
    font-size:16px;
}

.fav__button:hover{
    background-color: rgba(101, 19, 104, 0.9);
}