.gif__container{
    position: relative;
}

.gif__buttons{
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
    padding: 0;
    margin: 0;
}

.gif {
    display: block;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gif img {
    width: 100%;
    object-fit: contain;
    vertical-align: top;
}

.gif h4 {
    background: rgba(0, 0, 0, .3);
    bottom: 0;
    font-size: 12px;
    color: #fff;
    margin: 0;
    position: absolute;
}