.ListOfGifs {
  min-height: 60vh;
}

.List__container {
  margin-top: 1.5rem;
  columns: 3 250px;
  column-gap: 12px;
}

.List__container > * {
  margin-bottom: 12px;
}

@media (max-width: 900px) {
  .List__container {
    columns: 2 200px;
  }
}

@media (max-width: 480px) {
  .List__container {
    columns: 1;
  }
}
