.input__error__message {
  display: block;
  color: var(--error);
  font-size: 12px;
  margin-top: -8px;
}

.input__error {
  border-color: var(--error) !important;
  box-shadow: 0 0 0 3px rgba(239, 68, 68, 0.2) !important;
}
