.App {
  text-align: center;
}
.App-content {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
  min-height: 100vh;
}

.App__link{
  text-decoration: none;
  display:block
}
.App__logo{
  display:block;
  margin:auto;
}

.App-content a{
  text-decoration: none;
}