.App {
  text-align: center;
}

.App-content {
  background: rgb(255, 91, 91);
  background: linear-gradient(356deg, rgba(255, 91, 91, 1) 0%, rgba(255, 130, 130, 1) 4%, rgba(255, 170, 176, 1) 7%);
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
  min-height: 100vh;
}

.App__link {
  text-decoration: none;
  display: block
}

.App__logo {
  display: block;
  margin: auto;
}

.App-content a {
  text-decoration: none;
}